
.modal-image-container {
  /* height: 600px; */
  /* width: 700px; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 55px;
  /* max-width: 100%; */
  /* max-height:100%; */
  height: 80vh;
  display: flex;
  /* justify-content: center; */
  background-color: rgb(19, 22, 24);
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  position: relative;
  /* color: red; */
  /* padding-top: 40px; */
  /* align-self: center; */
}

.modal-image {
  /* max-height: 45rem; */
  /* max-width: 45rem; */
  display: flex;
  /* flex-grow: 1; */
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  /* padding: 10px; */
}

.image-view-footer {
  display: flex;
  width: 90%;
  justify-content: space-between;
  color: rgb(167, 167, 167);
  padding-top: 10px;
}

.image-view-icons {
  align-self: center;
  /* padding-bottom: 20px; */
  font-size: 22px;
}

.image-view-icons i {
  padding: 7px;
  cursor: pointer;
}

.image-view-icons i:hover {
  color: white
}

.image-view-icons.edit-icon,
.image-view-icons.trash-icon {
  transition: 0.4s;
}


.favorite-icon {
  transition: 0
}

.favorite-icon:hover {
  color: white;
}

.favorite-icon.active {
  /* transition: 0 */
  color: rgb(175, 175, 175);
  /* border: red 1px solid; */
}



.confirm-delete-image {
  position: absolute;
  top: 50%;
  z-index: 3;
  background-color: rgb(19, 22, 24);
  width: 200px;
  color: white;
  text-align: center;
  border-radius: 5px;
}

.confirm-delete-image div{
  display: flex;
  justify-content: center;
}

.confirm-delete-image div p {
  color: rgb(167, 167, 167);
  cursor: pointer;
  transition: 0.4s;
  padding: 0 20px;
}

.confirm-delete-image div p:hover {
  color: white;
}

.image-view-footer > p {
  font-style: italic;
}

.image-info .user {
  font-size: .8em;
}

/* .top {
  display: flex;
  width: 100%;
  width: 500px;
  margin-bottom: -12px;
}

.top i {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-top: 4px;
  font-size: 14px;
} */
