#dark-background {
  background-color: rgb(29, 31, 32);
  color: rgb(228, 226, 223);
  border-color: rgb(85, 85, 85)
}

#dark-background h2,
#dark-background p,
#dark-background a {
  color: rgb(228, 226, 223);
}
