#dark-background {
  background-color: var(--dm-background-color);
  color: var(--dm-color);
  border-color: var( --dm-border-color);
}

#dark-background h2,
#dark-background p,
#dark-background a {
  color: var(--dm-color);
}

form#dark-background input,
form#dark-background select,
form#dark-background textarea {
  background-color: rgb(235, 230, 230);
  color:rgb(38, 38, 38)
}

form#dark-background .select div {
  background-color: rgb(235, 230, 230);
  z-index: 0;
  color: hsl(0, 0%, 50%);
}


body.dark-scroll::-webkit-scrollbar
{
  width: 10px;
  height: 9px;
  background-color: rgb(38, 38, 38);
}

body.dark-scroll::-webkit-scrollbar-track
{
  background-color: rgb(38, 38, 38);
}


body.dark-scroll::-webkit-scrollbar-thumb
{



	border-radius: 10px;
	background-color: rgb(96, 96, 96);
}
