.signup-form {
  /* height: 600px; */
  width: 450px;
  /* display: flex;
  flex-direction: column;
  padding: 30px; */
  /* z-index: 1000000; */
}

.signup-form input {
  /* height: 20px; */
}


.signup-form label {
  margin: 0;
  /* padding-top */
}
