.dashboard-container {
  display: grid;
  grid-template-rows: 320px 50px 1fr;
  min-height: calc(100vh - 50px);
}

.cover-container {
  grid-row-start: 1;
  width: 100%;
  position: relative;
}

.cover-image {
  width: 100%;
  max-height: 50vh;
}

.cover-user-container {
  position: absolute;
  width: 100px;
  height: 101px;
  left: 10%;
  bottom: 10%;
  /* padding: 0px 120px; */
  display: flex;
  flex-direction: row;

}

.dashboard-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  margin-right: -100px;
  width: 100px;
  height: 100px;
  border-radius: 9999em;
}

.dashboard-user-info {
  width: 100%;
   display: grid;
  /* flex-direction: row; */
  grid-template-rows: 20px 40px 17px;
  padding-left: 100px;
}

.dashboard-user-info .top {
  grid-row-start: 2;
  position: relative;
}

.dashboard-user-dropdown {
  position: absolute;
  display: flex;
  align-items: center;
  width: 167px;
  height: 40px;
  padding-left: 1px;
  margin-right: -5px;
  margin: 0;
  border-radius: 5px;
  bottom: -38px;
  left: -30px;
  background-color: var(--dropdown-dark-gray);
}


.dashboard-user-dropdown li {
  color: rgb(221, 219, 219);
  font-size: .85em;
  cursor: pointer;
  margin-right: -20px;
  padding-left: 10px;
  transition: .4s;
}

.dashboard-user-dropdown li:hover {
  color: white;
}

.dashboard-user-info .bottom {
  grid-row-start: 3;
}

.dashboard-user-info .top,
.dashboard-user-info .bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  color: white;
}

.dashboard-user-info .top * {
  padding-right: 20px;
}

.dashboard-user-info .bottom * {
  padding-right: 20px;
}

.cover-more-button {
  border: #fff 2px solid;
  border-radius: 3px;
  height: 36px;
  width: 44px;
  font-size: 18px;
  line-height: 32px;
  padding-left: 10px;
  cursor: pointer;
}

.dashboard-nav {
  position: sticky;
  top: 50px;
  grid-row-start: 2;
  width: 100%;
  z-index: 3;
  background-color: white;
  border-bottom: 1px solid var(--border-gray);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dashboard-nav a {
  color: black;
}

.dashboard-body {
  grid-row-start: 3;
  max-width: 100vw;
  min-height: 67vh;
  background-color: var(--body-color);
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-body-header {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  text-align: center;
}

.dashboard-body-header h2 {
  margin-top: 60px;
  margin-bottom: 0;
}

.dashboard-body-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.active-dash-nav {
  position: relative;
}

.active-dash-nav:after {
  position: absolute;
  content: '';
  border: 1px solid var(--main-blue);
  width: 100%;
  left: 0;
  bottom: -16.45px;
}

.dashboard-body-header button {
  margin-top: 5px;
  width: 170px;
  height: 36px;
  align-self: center;
  justify-self: center;
  font-weight: 700;
  font-size: 15px;
  background-color: var(--main-blue);
  color: white;
  border: none;
  border-radius: 5px;
  /* padding-bottom: 40px; */
}
