
.profile-pic-form {
  width: 480px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.profile-pic-form label {
  padding-bottom: 20px;
}

.profile-pic-form input {
  height: 20px;
}

.profile-pic-form label,
.profile-pic-form button {
  margin: 5px;
}

.profile-pic-form button {
  width: 100px;
  height: 30px;
  align-self: center;
}

.upload-image.button {
  cursor: pointer;
}
