.add-images-form {
  /* display: flex;
  flex-direction: column; */
  width: 500px;
  height: 370px;
  /* border-radius: 5px; */
  align-items: center;
  /* justify-content: center; */
  /* padding-bottom: 30px; */
}


.add-images-form h2 {
  text-align: center;
  padding-bottom: 10px;
}

/* .add-images-form .select {
  height: 30px;
  margin: 50px 35px;
} */



/* .add-images-form button {
  cursor: pointer;
  margin-top: 30px;
  width: 170px;
  height: 36px;
  border-radius: 5px;
  border: none;
  align-self: center;
  background-color: var(--main-blue);
  color: white;
} */

/* .add-images-form input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-gray) solid 1px;;
  border-radius: 5px;
} */
