.upload-photos-form {
  width: 480px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.upload-photos-form input {
  height: 20px;
}

.upload-photos-form label,
.upload-photos-form button {
  margin-top: 5px;
}

.upload-photos-form button {
  width: 100px;
  height: 30px;
  align-self: center;
}
