.photostream-grid {
  display: grid;
  /* width: 100%; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-self: center;
  margin-top: 35px;
}


.stream-image {
  height: 11rem;
  width: 11rem;
  object-fit: cover;
  padding: 5px;
  display: flex;
  transition: .5s;
  cursor: pointer;
}

.stream-image:hover {
  /* height: 11.2rem; */
  /* width: 11.2rem; */
  padding: 3px;
  /* border: red 1px solid; */
}
