.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-self: center;
  margin-top: 35px;
}


.image-grid-item {
  height: 11rem;
  width: 11rem;
  object-fit: cover;
  padding: 5px;
  display: flex;
  transition: .5s;
  cursor: pointer;
}

.image-grid-item:hover {
  padding: 3px;
}
