@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
:root {
  --gray-border: #e2e2e2;
  --light-gray-text: #737b80;
  --main-blue: #128FDC;
  --body-color: rgb(242, 242, 242);
}

/* TODO Add site wide styles */

/* #root {
  height: 100%;
  width: 100%;
} */

body {
  margin: 0;
}

h2 {
  font-weight: 300;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
