:root {
  --grey-border: #e2e2e2;
}

/* TODO Add site wide styles */

/* #root {
  height: 100%;
  width: 100%;
} */

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
