.splash-selector-container {
  border: red 1px solid;
  width: 50%;
  z-index: 1000;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  /* text-align: center; */
  bottom: 20%;
  display: flex;
  justify-content: space-between;
}
