.splash-image-container{
  height: 100%;
  width: 100%;
  /* position: relative; */
}

.splash-image {
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.title-header {
  position: absolute;
  width: 100%;
  color: white;
  z-index: 10000000;
  top: 30%;
  text-align: center;
  font-size: 3.3em;
  font-weight: 400;
}

.title-subheader {
  position: absolute;
  width: 100%;
  color: white;
  z-index: 10000000;
  top: 39%;
  text-align: center;
  font-size: 1.8em;
  font-weight: 300;
}

.carousel {
  height: 100%;
  width: 100%;

  background-color: red;
  border: red solid 1px;
}

.splash-signup-container {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 10000000;
  top: 53%;

}

.splash-selector-container {
  width: 20%;
  z-index: 1000;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  /* text-align: center; */
  bottom: 20%;
  display: flex;
  justify-content: space-between;
}


.splash-album-selector .notch {
  cursor: pointer;
  color: rgb(245, 243, 243);
  box-shadow: 0 0 2px 1.5px rgba(0, 0, 0, .4);
  border-radius: 50%;
  font-size: 14px;
}

.splash-signup-button {
  width: 12.5rem;
  height: 3.8rem;
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0;
}

/* .splash-image-info {
  border: red 1px solid;
  z-index: 100000;
  width: 1000%
} */
