.login-form {
  width: 480px;
  /* display: flex;
  flex-direction: column; */
}

.login-form h2 {
  text-align: start;
  padding-left: 32px
}
/*
.login-form input {
  height: 20px;
} */

/* .login-form label,
.login-form button {
  margin-top: 5px;
} */

/* .login-form button {
  width: 100px;
  height: 30px;
  align-self: center;
} */
